- if bicycles.present?
  %ul.media-list
    - bicycles.each do |bicycle|
      %li.media
        .well.center-block{:style => "width:50%;"}
          .media-left
            - if bicycle.image.attached?
              = image_tag bicycle.image.variant(resize: '100x100')
            - else
              = image_tag "no_image.png", size:"100"
          .media-body
            .h3
              車種：#{bicycle.name}
              %br/
              自転車のタイプ：#{bicycle.bicycle_type}
              %br/
              登録者：#{bicycle.user.username}
              %br/
              .btn.btn-default
                = link_to '詳細', bicycle_path(bicycle)
          = paginate bicycles
-else
  .alert.alert-warning
    .h3
      登録されている自転車はありません