%section.callaction
  .container
    .row
      .col-lg-12
        .big-cta
          .cta-text
            %h1
              = current_user.username
              さんの出品中リスト
.container
  .return_button
    - if user_signed_in?
      %table.table.table-hover
        %thead
          %tr
            %th 名前
            %th タイプ
            %th 希望者
        %tbody
          - @bicycles.each do |bicycle|
            %tr
              %td= bicycle.name
              %td= bicycle.bicycle_type
              - if bicycle.borrow_users.any?
                %td= link_to '希望者あり', bicycle_rental_relations_path(bicycle)
              -else
                %td 希望者なし
              %td
                = link_to '詳細', bicycle_path(bicycle)
    - else
      .center.jumbotron
        .text-center
          %h1 ログインして下さい
          = link_to 'Log in!', new_user_session_path, class: 'btn btn-lg btn-primary'